.header{
    text-align: center;
    margin:20px;
}
.img-icon{
    width:500px;
    height:200px;
}

body
{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.card
{
    float: inline-start;
    width:250px;
    margin-left:37px;
    margin-right:10px;
    margin-top:20px;
    margin-bottom:30px;
    border: 3px solid rgba(0,0,0,.125);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.5s linear;
}
.card:hover
{
    opacity: 1;
    border: 3px solid #e84444;
}
.card h3
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #e84444;
}
.card img
{
    width: 100%;
}
.card p
{
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 23px;
    color: #666;
    transition: all 0.5s linear;
}
.card:hover p
{
    color: black;
}
.card .button
{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -15px;
}
.card .button button
{
    font-size: 16px;
    border-radius: 10px;
    background: #e84444;
    color: white;
    padding: 5px;
    border: 2px solid #e84444;
    outline: 0;
}
.load-btn{
    font-size: 16px;
    border-radius: 10px;
    background: #e84444;
    color: white;
    padding: 5px;
    border: 2px solid #e84444;
    outline: 0;
    position: relative;
    top: 50%;
    left: 50%;
}





